body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*  {
  font-family: noto Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
}

.section {
  font-size: 2rem;
}

.title {
  color: black;
}

.jumbotron {
  background: url('https://ewscripps.brightspotcdn.com/dims4/default/7ee8cb6/2147483647/strip/true/crop/1280x720+0+0/resize/1280x720!/quality/90/?url=http%3A%2F%2Fewscripps-brightspot.s3.amazonaws.com%2F72%2F52%2F83d95c7b4318a34a8373c722bc6b%2Fcoronavirus-background-1280x720-1.jpg') no-repeat center fixed;
  background-size: cover;
  /* padding-top: 10%;
  padding-bottom: 20%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; */
}

.stats-container {
  padding: 50px;
}

#footer {
  padding: 50px;
}

.homepage-card {
  padding: 20px;
  margin: 20px;
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}

